version: "3.8"
services:
  cache:
    image: redis:8.2.1-alpine
    container_name: n8n_cache
    hostname: cache
    restart: always
    command: redis-server --save 20 1 --loglevel warning
    environment:
      - REDIS_PASSWORD=${R_PASSWORD}
      - REDIS_PORT=${R_PORT}
    networks:
      default:
        ipv4_address: 10.10.80.4
    volumes:
      - cache:/data

  db:
    image: postgres:13.22-alpine
    container_name: n8n_db
    hostname: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_POSTGRESDB_USER}
      - POSTGRES_PASSWORD=${DB_POSTGRESDB_PASSWORD}
      - POSTGRES_DB=${DB_POSTGRESDB_DATABASE}
    networks:
      default:
        ipv4_address: 10.10.80.5
    volumes:
      - db:/var/lib/postgresql/data

  pg_admin4:
    image: dpage/pgadmin4:9.7.0
    container_name: n8n_pgadmin4
    hostname: pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=${DEFAULT_USER_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${DEFAULT_USER_PASSWORD}
    networks:
      default:
        ipv4_address: 10.10.80.6
    volumes:
      - pg_admin4:/var/lib/pgadmin
    depends_on:
      - db
    labels:
      - traefik.enable=true
      - traefik.http.routers.pgadmin.rule=Host(`pgadmin.${DOMAIN_NAME}`)
      - traefik.http.routers.pgadmin.tls=true
      - traefik.http.routers.pgadmin.entrypoints=web,websecure
      - traefik.http.routers.pgadmin.tls.certresolver=mytlschallenge

  traefik:
    image: traefik
    container_name: n8n_traefik
    hostname: traefik
    restart: always
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.mytlschallenge.acme.tlschallenge=true"
      - "--certificatesresolvers.mytlschallenge.acme.email=${SSL_EMAIL}"
      - "--certificatesresolvers.mytlschallenge.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    networks:
      default:
        ipv4_address: 10.10.80.3
    volumes:
      - traefik_data:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro

  n8n:
    image: n8nio/n8n:stable
    container_name: n8n_instance
    hostname: n8n
    restart: always
    ports:
      - "127.0.0.1:5678:5678"
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.rule=Host(`${SUBDOMAIN}.${DOMAIN_NAME}`)
      - traefik.http.routers.n8n.tls=true
      - traefik.http.routers.n8n.entrypoints=web,websecure
      - traefik.http.routers.n8n.tls.certresolver=mytlschallenge
      - traefik.http.middlewares.n8n.headers.SSLRedirect=true
      - traefik.http.middlewares.n8n.headers.STSSeconds=315360000
      - traefik.http.middlewares.n8n.headers.browserXSSFilter=true
      - traefik.http.middlewares.n8n.headers.contentTypeNosniff=true
      - traefik.http.middlewares.n8n.headers.forceSTSHeader=true
      - traefik.http.middlewares.n8n.headers.SSLHost=${DOMAIN_NAME}
      - traefik.http.middlewares.n8n.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.n8n.headers.STSPreload=true
      - traefik.http.routers.n8n.middlewares=n8n@docker
    environment:
      - N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
    env_file:
      - .env
    depends_on:
      - cache
      - db
      - traefik
    networks:
      default:
        ipv4_address: 10.10.80.2
    volumes:
      - n8n_data:/home/node/.n8n
      - ./local-files:/files



volumes:
  db:
    driver: local
  cache:
    driver: local
  pg_admin4:
    driver: local
  n8n_data:
    driver: local
  traefik_data:
    driver: local

networks:
  default:
    driver: bridge
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 10.10.80.0/24
          gateway: 10.10.80.1
